{% extends 'base_canteen.html' %}
{% block title %}第一餐厅{% endblock %}
{% block header %}第一餐厅{% endblock %}
{% block welcome %}欢迎来到鲁大第一餐厅！{% endblock %}

{% block menu %}
	<table style = "margin: 0 0 0 11.2%; font-size: 16px;" width = 70%; >
		{% for post in firstPosts|slice:":" reversed %}
		<tr>
			<td align="center"><p style = "margin: 20px 0 0 0; ">{{ post.name }}</p></td>
			<td align="center"><p style = "margin: 20px 0 0 0; ">{{ post.price }}</p></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block character %}
	<dt class = "awardDt">木瓜奶昔
		<dd class = "awardDd">木瓜果肉厚实细致、香气浓郁、汁水丰多、甜美可口、营养丰富，素有“百益之果”、“水果之皇”、“万寿瓜”之雅称，是岭南四大名果之一。木瓜在中国素有“万寿果”之称，多吃可延年益寿！ </dd>
	</dt>
	<dt class = "awardDt">糖醋里脊
		<dd class = "awardDd">以猪里脊肉为主材， 配以面粉，淀粉， 醋等作料，酸甜可口， 让人胃口大开！ </dd>
	</dt>
{% endblock %}