{% extends 'base_login.html' %}
{% block title %}
	<title>注册页面</title>
{% endblock %}
{% block form_login %}
<form action = "/register/" method = "post">
<DIV style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 250px; text-align: center;">
<DIV style="width: 165px; height: 96px; position: absolute;">
<DIV class="tou"></DIV>
<DIV class="initial_left_hand" id="left_hand"></DIV>
<DIV class="initial_right_hand" id="right_hand"></DIV></DIV>
<P style="padding: 30px 0px 10px; position: relative;">
<SPAN class="u_logo"></SPAN>         
<INPUT class="ipt" type="text" name = "email" placeholder="请输入用户名或邮箱" value="{{email}}"> 
</P>
<P style="position: relative;"><SPAN class="p_logo"></SPAN>         
<INPUT class="ipt" id="password" type="password" name = "password" placeholder="请输入密码" value="{{password}}">   
  </P>
<P style="padding: 10px 0px 0; position: relative;">
<SPAN class="n_logo">姓名</SPAN>         
<INPUT class="ipt" type="text" name = "name" placeholder="(选填)" value="{{name}}"> 
</P>
  {% for error in errorsLogin %} <p style = "padding: 0; float: left; margin-left: 10%;"> {{ error }}</p>{% endfor %}
<DIV style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
<P style="margin: 0px 35px 20px 45px;"><SPAN style="float: left;"></SPAN> 
           <SPAN style="float: right;"><input type = "button" style="cursor:pointer; background-color: white; color: rgb(204, 204, 204); margin-right: 10px; padding: 0px; border:0; " onclick="location.href='/'" value = "登录"/>  
              <input type = "submit" style="cursor:pointer; background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;" 
 value = "注册"/>
           </SPAN>         </P></DIV></DIV>
{% endblock %}